@page "/newuser"
<div class="page__header">
    <h1 class="page__h1">Nowy użytkownik</h1>
</div>
<div class="page__options">
</div>

<EditForm Model="RegistrationModel" class="page__col page__col--two-col" autocomplete="off" OnValidSubmit="Register">
    <DataAnnotationsValidator />
    <div class="page__col__col">
        <div class="page__col__col__h">
            <h3>Podstawowe dane</h3>
        </div>
        <div class="page__col__col__content">

            <InputFieldText Label="Imię"
                            Name="@nameof(RegistrationModel.FirstName)"
                            @bind-Value="RegistrationModel.FirstName"
                            For="()=>RegistrationModel.FirstName" />

            <InputFieldText Label="Nazwisko"
                            Name="@nameof(RegistrationModel.LastName)"
                            @bind-Value="RegistrationModel.LastName"
                            For="()=>RegistrationModel.LastName" />
        </div>
    </div>
    <div class="page__col__col">

        <div class="page__col__col__h">
            <h3> Dane kontaktowe</h3>
        </div>
        <div class="page__col__col__content">
            <InputFieldText Label="Ulica i numer domu"
                            Name="@nameof(RegistrationModel.AddressLine)"
                            @bind-Value="RegistrationModel.AddressLine"
                            For="()=>RegistrationModel.AddressLine" />
            <InputFieldText Label="Kod pocztowy"
                            Name="@nameof(RegistrationModel.PostalCode)"
                            @bind-Value="RegistrationModel.PostalCode"
                            For="()=>RegistrationModel.PostalCode" />
            <InputFieldText Label="Miejscowość"
                            Name="@nameof(RegistrationModel.Town)"
                            @bind-Value="RegistrationModel.Town"
                            For="()=>RegistrationModel.Town" />
        </div>
    </div>
    <div class="page__col__col">
        <div class="page__col__col__h">
            <h3>Dane użytkownika</h3>
        </div>
        <div class="page__col__col__content">
            <InputFieldText Label="Nazwa użytkownika"
                            Name="@nameof(RegistrationModel.UserName)"
                            @bind-Value="RegistrationModel.UserName"
                            For="()=>RegistrationModel.UserName" />

            <InputFieldText Label="Email"
                            Type="email"
                            Name="@nameof(RegistrationModel.Email)"
                            @bind-Value="RegistrationModel.Email"
                            For="()=>RegistrationModel.Email" />

            <InputFieldText Label="Numer telefonu"
                            Type="tel"
                            Name="@nameof(RegistrationModel.PhoneNumber)"
                            @bind-Value="RegistrationModel.PhoneNumber"
                            For="()=>RegistrationModel.PhoneNumber" />
        </div>
    </div>
    <div class="page__col__col">
        <div class="page__col__col__h">
            <h3>Hasło</h3>
        </div>
        <div class="page__col__col__content">

            <InputFieldText Label="Hasło"
                            Type="password"
                            Name="@nameof(RegistrationModel.Password)"
                            @bind-Value="RegistrationModel.Password"
                            For="()=>RegistrationModel.Password" />

            <InputFieldText Label="Powtórz hasło"
                            Type="password"
                            Name="@nameof(RegistrationModel.ConfirmPassword)"
                            @bind-Value="RegistrationModel.ConfirmPassword"
                            For="()=>RegistrationModel.ConfirmPassword" />

            <InputFieldCheckbox Label="Wymuś zmianę hasła przy pierwszym logowaniu"
                                Name="@nameof(RegistrationModel.ForcePasswordChangeWhileNextLogin)"
                                @bind-Value="RegistrationModel.ForcePasswordChangeWhileNextLogin"
                                For="()=>RegistrationModel.ForcePasswordChangeWhileNextLogin" />
        </div>
    </div>
    <div class="page__col__col--span-all">
        <button type="submit" class="page__submit">Dodaj</button>
    </div>
        

</EditForm>