@page "/tasks"
@using PIZZA.WebAssembly.Shared.Tasks

<div class="page__header">
    <h1 class="page__h1">Zadania</h1>
    <div class="page__search">
        <input class="page__search__input" placeholder="Szukaj" type="search" @bind-value="QueryString" />
        <button class="page__search__button material-icons" @onclick="()=>Query(QueryString)">
            search
        </button>
    </div>
</div>
<AuthorizeView Roles="Admin, Manager">
    <Authorized Context="Auth">
        <EditForm Model="TaskSearchOptions" class="page__options">

            <a class="page__options__button" href="/newtask">
                <span class="page__options__button__icon material-icons">
                    add
                </span>
                <p class="page__options__button__text">Dodaj nowe zadanie</p>
            </a>
            <a class="page__options__button">
                <InputFieldCheckbox Name="@nameof(TaskSearchOptions.ShowOnlyNotFinished)" @bind-Value="ShowOnlyNotFinished" class="page__options__button__icon page__input--scale07 page__input--nomarigin" />
                <label for="@nameof(TaskSearchOptions.ShowOnlyNotFinished)" class="page__options__button__text">Pokaż tylko nieukończone zadania</label>
            </a>
            <a class="page__options__button">
                <InputFieldCheckbox Name="@nameof(TaskSearchOptions.ShowUnassignedToMe)" @bind-Value="ShowUnassignedToMe" class="page__options__button__icon page__input--scale07 page__input--nomarigin" />
                <label for="@nameof(TaskSearchOptions.ShowUnassignedToMe)" class="page__options__button__text">Pokaż także nieprzypisane do mnie</label>
            </a>

        </EditForm>
    </Authorized>
</AuthorizeView>
<table class="tasks__table page__table">
    <thead>
        <tr>
            <th class="tasks__table__icon">
            </th>
            <th class="tasks__table__name @OrderClass(OrderBy.Name)" @onclick="() => ChangeOrder(OrderBy.Name)">
                Nazwa zadania
            </th>
            <th class="tasks__table__state @OrderClass(OrderBy.State)" @onclick="() => ChangeOrder(OrderBy.State)">
                Status
            </th>
            <th class="tasks__table__actualization_date">
                <!--Ostatnia aktualizacja-->
            </th>
            <th class="tasks__table__priority @OrderClass(OrderBy.Priority)" @onclick="() => ChangeOrder(OrderBy.Priority)">
                Priorytet
            </th>
            <th class="tasks__table__deadline @OrderClass(OrderBy.Deadline)" @onclick="() => ChangeOrder(OrderBy.Deadline)">
                Deadline
            </th>
            <th class="tasks__table__options">
                Opcje
            </th>
        </tr>
    </thead>
    <tbody>
        @if (tasks is not null && !loading)
        {
        <Virtualize Items="tasks" Context="item">
            <Record Model="item" />
        </Virtualize>
        }
        else
        {
            <tr>
                <td colspan="99" class="page__table--full-width-cell">
                    Ładowanie
                </td>
            </tr>
        }

    </tbody>
</table>

