@page "/users"
@attribute [Authorize(Roles ="Admin, Manager")]

@using PIZZA.WebAssembly.Shared.Users

<div class="page__header">
    <h1 class="page__h1">Użytkownicy</h1>
    <div class="page__search">
        <input class="page__search__input" placeholder="Szukaj" type="search" @bind-value="QueryString" />
        <button class="page__search__button material-icons">
            search
        </button>
    </div>
</div>
<div class="page__options">
    <AuthorizeView Roles="Admin">
        <a class="page__options__button" href="/newuser">
            <span class="page__options__button__icon material-icons">
                add
            </span>
            <p class="page__options__button__text">Dodaj nowego użytkownika</p>
        </a>
    </AuthorizeView>
</div>
<table class="users__table page__table">
    <thead>
        <tr>
            <th class="users__table__icon">
            </th>
            <th class="users__table__name @OrderClass(OrderBy.Name)" @onclick="() => ChangeOrder(OrderBy.Name)">
                Imię i nazwisko
            </th>
            <th class="users__table__email @OrderClass(OrderBy.Email)" @onclick="() => ChangeOrder(OrderBy.Email)">
                Email
            </th>
            <th class="users__table__phone @OrderClass(OrderBy.Phone)" @onclick="() => ChangeOrder(OrderBy.Phone)">
                Numer telefonu
            </th>
            <th class="users__table__admin @OrderClass(OrderBy.Admin)" @onclick="() => ChangeOrder(OrderBy.Admin)">
                Admin
            </th>
            <th class="users__table__manager @OrderClass(OrderBy.Manager)" @onclick="() => ChangeOrder(OrderBy.Manager)">
                Manager
            </th>
            <th class="users__table__options">
                Opcje
            </th>
        </tr>
    </thead>
    <tbody>
        @if(employees is not null && !loading)
        {
            foreach (var item in employees)
            {
                <Record Employee="item"/>
            }
        }
        else
        {
            <tr>
                <td colspan="99" class="page__table--full-width-cell">
                    Ładowanie
                </td>
            </tr>
        }

    </tbody>
</table>

