<ContextMenuTrigger Data="Employee" WrapperTag="tr" MouseButtonTrigger="MouseButtonTrigger.Right" MenuId="userContextMenu">
    <td class="users__table__icon material-icons">
        account_circle
    </td>
    <td class="users__table__name">
        @Employee.FirstName @Employee.LastName
    </td>
    <td class="users__table__email">
        @Employee.Email
    </td>
    <td class="users__table__phone">
        @Employee.PhoneNumber
    </td>
    <td class="users__table__admin">
        <label class="toggle-switch">
            <input type="checkbox" disabled checked="@IsAdmin"/>
            <span class="toggle-switch__slider"></span>
        </label>
    </td>
    <td class="users__table__manager">
        <label class="toggle-switch">
            <input type="checkbox" disabled checked="@IsManager"/>
            <span class="toggle-switch__slider"></span>
        </label>
    </td>
    <td class="users__table__options" >
        <ContextMenuTrigger MouseButtonTrigger="MouseButtonTrigger.Both" MenuId="userContextMenu">
            <svg class="svg__options" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 47.36">
                <circle cx="23.57" cy="23.79" r="23.57" />
                <circle cx="96" cy="23.57" r="23.57" />
                <circle cx="168.43" cy="23.57" r="23.57" />
            </svg>
        </ContextMenuTrigger>
    </td>
</ContextMenuTrigger>
